::-webkit-scrollbar {
	width: 0;
}

p, span {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: clamp(14px, 3vw, 24px);
    color: #707070;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    line-height: 1;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}
h1 {

}
h2 {

}
h3 {

}
h4 {
    font-size: clamp(14px, 3vw, 24px);
}
.section + .section {
    margin-top: 1.2vw;
}

.section__teeth {
    width: 100%;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.teeth__all {
}

.teeth__top, .teeth__bottom {
    display: flex;
    width: 100%;
    div {
        width: inherit;
        height: calc(100vw/8.5);
        transition: 0.3s;
        @media (min-width: 1200px) {
            height: 145px;
        }
    }
}

.teeth__top {
    .top_left_8,
    .top_left_7,
    .top_left_6,
    .top_rigt_6,
    .top_rigt_7,
    .top_rigt_8 {
        width: 120%;
    }
    .top_left_1,
    .top_rigt_1 {
        width: 120%;
    }
}

.teeth__bottom {
    .top_left_8,
    .top_left_7,
    .top_left_6,
    .top_rigt_6,
    .top_rigt_7,
    .top_rigt_8 {
        width: 120%;
    }
    .bottom_left_3,
    .bottom_left_2,
    .bottom_left_1,
    .bottom_rigt_1,
    .bottom_rigt_2,
    .bottom_rigt_3 {
        width: 60%;
    }
    .bottom_left_5,
    .bottom_left_4,
    .bottom_rigt_4,
    .bottom_rigt_5 {
        width: 70%;
    }
    .bottom__additional {
        width: 50%;
        border-color: transparent;
    }
}

.tooth {
    cursor: pointer;
    &.missing {
        background-color: #ffffff;
        opacity: 0.9;
        & svg {
            opacity: 0.15;
        }
    }
    svg {
        fill: black;
        width: 100%;
        height: 100%;
        transition: 0.3s;
    }
}

.tooth.open_info {
    cursor: help;
    svg {
        fill: #30C7B8;
    }
    &.missing {
        opacity: 0.6;
        svg {
            opacity: 1;
        }
    }
}

// tooth__info

.tooth__reviews {
    max-width: 1200px;
    margin: 0 auto;
}
.tooth__info, .tooth__note {
    border: 3px solid #30C7B8;
    border-radius: 11px;
    padding: 13px;
}
.tooth__info--item {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.tooth__note--header {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
}
.tooth__note--caption {
    @media (max-width: 576px) {
        display: none;
    }
}

.tooth__note--data {
    
}

.tooth__note {
    cursor: pointer;
    + .tooth__note {
        margin-top: 1.2vw;
    }
}

.tooth__note--text {
    transition: height 0.5s, opacity 1s;
    overflow: hidden;
    margin-block-start: 0;
    margin-block-end: 0;
}

.close {
    opacity: 0;
}