::-webkit-scrollbar {
  width: 0;
}

p, span {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: clamp(14px, 3vw, 24px);
  color: #707070;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  line-height: 1;
  -webkit-margin-before: 0.5rem;
          margin-block-start: 0.5rem;
  -webkit-margin-after: 0.5rem;
          margin-block-end: 0.5rem;
}

h4 {
  font-size: clamp(14px, 3vw, 24px);
}

.section + .section {
  margin-top: 1.2vw;
}

.section__teeth {
  width: 100%;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.teeth__top, .teeth__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.teeth__top div, .teeth__bottom div {
  width: inherit;
  height: calc(100vw/8.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 1200px) {
  .teeth__top div, .teeth__bottom div {
    height: 145px;
  }
}

.teeth__top .top_left_8,
.teeth__top .top_left_7,
.teeth__top .top_left_6,
.teeth__top .top_rigt_6,
.teeth__top .top_rigt_7,
.teeth__top .top_rigt_8 {
  width: 120%;
}

.teeth__top .top_left_1,
.teeth__top .top_rigt_1 {
  width: 120%;
}

.teeth__bottom .top_left_8,
.teeth__bottom .top_left_7,
.teeth__bottom .top_left_6,
.teeth__bottom .top_rigt_6,
.teeth__bottom .top_rigt_7,
.teeth__bottom .top_rigt_8 {
  width: 120%;
}

.teeth__bottom .bottom_left_3,
.teeth__bottom .bottom_left_2,
.teeth__bottom .bottom_left_1,
.teeth__bottom .bottom_rigt_1,
.teeth__bottom .bottom_rigt_2,
.teeth__bottom .bottom_rigt_3 {
  width: 60%;
}

.teeth__bottom .bottom_left_5,
.teeth__bottom .bottom_left_4,
.teeth__bottom .bottom_rigt_4,
.teeth__bottom .bottom_rigt_5 {
  width: 70%;
}

.teeth__bottom .bottom__additional {
  width: 50%;
  border-color: transparent;
}

.tooth {
  cursor: pointer;
}

.tooth.missing {
  background-color: #ffffff;
  opacity: 0.9;
}

.tooth.missing svg {
  opacity: 0.15;
}

.tooth svg {
  fill: black;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.tooth.open_info {
  cursor: help;
}

.tooth.open_info svg {
  fill: #30C7B8;
}

.tooth.open_info.missing {
  opacity: 0.6;
}

.tooth.open_info.missing svg {
  opacity: 1;
}

.tooth__reviews {
  max-width: 1200px;
  margin: 0 auto;
}

.tooth__info, .tooth__note {
  border: 3px solid #30C7B8;
  border-radius: 11px;
  padding: 13px;
}

.tooth__info--item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.tooth__note--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 576px) {
  .tooth__note--caption {
    display: none;
  }
}

.tooth__note {
  cursor: pointer;
}

.tooth__note + .tooth__note {
  margin-top: 1.2vw;
}

.tooth__note--text {
  -webkit-transition: height 0.5s, opacity 1s;
  transition: height 0.5s, opacity 1s;
  overflow: hidden;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.close {
  opacity: 0;
}
/*# sourceMappingURL=teeth.css.map */